# D5 Gas Usage on Aragon

In [1]:
import pandas as pd

In [2]:
# Constants

# d5dao aragon contract (https://client.aragon.org/#/d5dao)
tx_filename = 'd5_txs.csv'
# old d5 aragon contract (http://client.aragon.org/#/d5/) 
old_tx_filename = 'old_d5_txs.csv'

In [3]:
# Read transaction file
df_new = pd.read_csv(tx_filename)
df_old = pd.read_csv(old_tx_filename)

In [4]:
# combine
df = pd.concat([df_new, df_old])

In [5]:
# Calculate tx fee in ether
df['tx_fee'] = df['gas_price'] * df['receipt_gas_used'] / 10**18

## Average tx fee per tx in ETH

In [6]:
avg_tx_fee_ether = df['tx_fee'].mean()
avg_tx_fee_ether

0.0009091764368857403

## Max and Min tx fee per tx in ETH

In [7]:
max_tx_fee_ether = df['tx_fee'].max()
min_tx_fee_ether = df['tx_fee'].min()
print(f"Max: {max_tx_fee_ether} Min: {min_tx_fee_ether}")

Max: 0.006927392 Min: 3.6419e-05

## Total Fees Paid in Ethereum

In [8]:
sum(df['tx_fee'])

0.18819952243534832

## Total Fees Paid by each D5 Member

In [9]:
grouped = df.groupby('from_address')['tx_fee'].sum().reset_index()
grouped['percentage of tx fees'] = grouped['tx_fee']*100/(sum(grouped['tx_fee']))
grouped.sort_values('tx_fee', ascending=False)

                                 from_address    tx_fee  percentage of tx fees
1  0x4a7c6899cdcb379e284fbfd045462e751da4c7ce  0.110813              58.880626
4  0x9fd0c742d81b6f08817f3ef11d09cb4a9f54ee5f  0.024361              12.944019
6  0xafd040d8abf07c49dc1754bf3e664b3629c294ca  0.020589              10.939869
8  0xd20234e08327ef81276f7088eba987153e7ffab3  0.017729               9.420164
2  0x6deebc6ded7e4c8ed2b7a5d958be58fe29c6123c  0.006927               3.680877
0  0x3e2c94b47033455224e9894f8818d5d41446ff50  0.005525               2.935801
5  0xadbc69b07b839ca353177b5a22013b30624d2dc5  0.001475               0.783527
7  0xb1dab97636a94201881c8236056e733315eaeae7  0.000512               0.272208
3  0x7a83cd015871dab5fad4b6652ac1ac90ebb4da29  0.000269               0.142909

## All transactions

In [10]:
df

,hash,nonce,transaction_index,from_address,to_address,value,gas,gas_price,input,receipt_cumulative_gas_used,receipt_gas_used,receipt_contract_address,receipt_root,receipt_status,block_timestamp,block_number,block_hash,tx_fee
0,0x7ff454de5d21f4b25baae4bbfd2c3b005748f4c0f0db...,5,143,0x6deebc6ded7e4c8ed2b7a5d958be58fe29c6123c,0x01fe2a32ff816f050fc4a3a37c47d31da5f7ec45,0,352739,32000000000,0xf98a4eca000000000000000000000000000000000000...,12219158,216481,NaN,NaN,1,2020-10-13 19:12:54 UTC,11049121,0x45a0e09c93d6b2c8e39914876378a3ff32f376f42051...,0.006927
1,0x608be96967b1c47d8f80ab36e0f2def1420134b1bf12...,72,89,0x9fd0c742d81b6f08817f3ef11d09cb4a9f54ee5f,0x01fe2a32ff816f050fc4a3a37c47d31da5f7ec45,0,178044,27500330220,0xdf133bca000000000000000000000000000000000000...,5604075,109447,NaN,NaN,1,2020-05-13 15:19:31 UTC,10058565,0x3928150f4149d99039c75e998f4f28b3d1a0e6dd525f...,0.003010
2,0x54b04ce8723d2afc7a9687312631eba8d7146f8b3341...,210,151,0x4a7c6899cdcb379e284fbfd045462e751da4c7ce,0x01fe2a32ff816f050fc4a3a37c47d31da5f7ec45,0,155544,29000000000,0xdf133bca000000000000000000000000000000000000...,7405601,94447,NaN,NaN,1,2020-05-13 15:27:58 UTC,10058597,0x3bd9c765bc47a45128c8561206e2fbf0abc2b2df62c2...,0.002739
3,0x00e09a534843502b4074032dcc672004812fdc7eba61...,195,96,0x4a7c6899cdcb379e284fbfd045462e751da4c7ce,0x01fe2a32ff816f050fc4a3a37c47d31da5f7ec45,0,510959,5000000000,0xf98a4eca000000000000000000000000000000000000...,6408298,312723,NaN,NaN,1,2020-03-19 19:15:53 UTC,9703930,0x971382450b69b19a5bbc06f2d063834d593cd38ca20b...,0.001564
4,0x46b9a983415e2504b59c3f87beaf4172ced4bbaedbed...,73,77,0x9fd0c742d81b6f08817f3ef11d09cb4a9f54ee5f,0x01fe2a32ff816f050fc4a3a37c47d31da5f7ec45,0,348749,31000000000,0xf98a4eca000000000000000000000000000000000000...,9620573,213987,NaN,NaN,1,2020-05-21 12:31:00 UTC,10109250,0x70fc14e22ef7d818d282d6bb0091b015028ccf0b157c...,0.006634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,0x860b4261ec0776528c171ead65975b71eabbebe2edb2...,20,72,0x9fd0c742d81b6f08817f3ef11d09cb4a9f54ee5f,0x8af820c801d854df802d03a6db5298c0fb9ba542,0,127744,3000000000,0xdf133bca000000000000000000000000000000000000...,2777100,75914,NaN,NaN,1,2019-04-27 05:26:22 UTC,7647603,0x21440fbf08c8485e4b53c34e23efc533152a6be950ef...,0.000228
156,0x7f72098895c53b6e25e3cb2cee533cadf989027a9ab1...,21,124,0x9fd0c742d81b6f08817f3ef11d09cb4a9f54ee5f,0x8af820c801d854df802d03a6db5298c0fb9ba542,0,127744,3000000000,0xdf133bca000000000000000000000000000000000000...,5964738,75914,NaN,NaN,1,2019-04-27 05:27:05 UTC,7647605,0x7b0a4ba830ee81a22776f92c94f0b61681489e863d74...,0.000228
157,0x1ff2c5dc83d90041f27ac736dc84d515ea9590073517...,19,129,0x9fd0c742d81b6f08817f3ef11d09cb4a9f54ee5f,0x8af820c801d854df802d03a6db5298c0fb9ba542,0,328609,3000000000,0xdf133bca000000000000000000000000000000000000...,4866473,31960,NaN,NaN,0,2019-04-27 05:26:00 UTC,7647602,0x93590918a0be63554f06630b7c08e578c836f629c095...,0.000096
158,0x0625c7e81edd5e085ec8b83b72c71f7994d4abd7a7f3...,17,130,0x4a7c6899cdcb379e284fbfd045462e751da4c7ce,0x8af820c801d854df802d03a6db5298c0fb9ba542,0,349808,2000000000,0xd5db2c80000000000000000000000000000000000000...,6703384,223962,NaN,NaN,1,2019-04-16 10:14:49 UTC,7578300,0x4ee4c4760dea69d2b63cae1b96f4710d9385847356c3...,0.000448
159,0xf28d0f4340a6f2e5a3d1ff44ce7a46d7651923a491a9...,1,87,0xd20234e08327ef81276f7088eba987153e7ffab3,0x8af820c801d854df802d03a6db5298c0fb9ba542,0,123651,4000000000,0xdf133bca000000000000000000000000000000000000...,7883433,73185,NaN,NaN,1,2019-04-16 15:41:21 UTC,7579815,0xa5c1e5f780c7a6fc9419b0eb8e8ebd2c70caf360092d...,0.000293